<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.project.npnc.member.model.dto.Member" alias="member"/>
		<typeAlias type="com.project.npnc.member.model.dto.Member" alias="memberSr"/>
		<typeAlias type="com.project.npnc.note.dto.NoteDto" alias="note"></typeAlias>
		<typeAlias type="com.project.npnc.organization.dto.OrganizationDto" alias="OrganizationDto"></typeAlias>
		<typeAlias type="com.project.npnc.admin.job.model.dto.Job" alias="job"/>
      	<typeAlias type="com.project.npnc.admin.department.model.dto.Department" alias="department"/>
        <typeAlias type="com.project.npnc.admin.member.model.dto.AdminMember" alias="adminmember"/>  
        
	</typeAliases>
</configuration>
