<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
	<typeAliases>
		<typeAlias type="com.project.npnc.member.model.dto.SrMember" alias="memberSr"/>
		<typeAlias type="com.project.npnc.note.dto.NoteReceptionDto" alias="noteRec"></typeAlias>
		<typeAlias type="com.project.npnc.organization.dto.OrganizationDto" alias="OrganizationDto"></typeAlias>
		<typeAlias type="com.project.npnc.admin.job.model.dto.Job" alias="job"/>
   		<typeAlias type="com.project.npnc.admin.department.model.dto.Department" alias="department"/>
		<typeAlias type="com.project.npnc.security.dto.Member" alias="member"/>
		<typeAlias type="com.project.npnc.organization.dto.OrganizationDto" alias="OrganizationDto"></typeAlias>
		<typeAlias type="com.project.npnc.admin.job.model.dto.Job" alias="job"/>
	    <typeAlias type="com.project.npnc.admin.department.model.dto.Department" alias="department"/>
	    <typeAlias type="com.project.npnc.admin.member.model.dto.AdminMember" alias="adminmember"/> 
	    <typeAlias type="com.project.npnc.attendance.model.dto.Attendance" alias="attendance"/>
	    <typeAlias type="com.project.npnc.document.model.dto.Document" alias="document"/>  
	    <typeAlias type="com.project.npnc.calendar.model.dto.Calendar" alias="calendar"/> 
	    <typeAlias type="com.project.npnc.document.model.dto.Approver" alias="approver"/>   
	    <typeAlias type="com.project.npnc.document.model.dto.DocFile" alias="docFile"/>   
		<typeAlias type="com.project.npnc.chatting.model.dto.ChattingMessage" alias="chattingMessage"/>		
		<typeAlias type="com.project.npnc.chatting.model.dto.ChattingGroup" alias="chattingGroup"/>		
		<typeAlias type="com.project.npnc.chatting.model.dto.ChattingRoom" alias="chattingRoom"/>	

		<typeAlias alias="memberdto" type="com.project.npnc.security.dto.Member"/>
		<typeAlias type="com.project.npnc.security.dto.Member" alias="mypagemember"/>
		<typeAlias type="com.project.npnc.attendance.model.dto.Attendance" alias="attendance"/>
		<typeAlias type="com.project.npnc.note.dto.NoteSendDto" alias="noteSend"></typeAlias>
		<typeAlias type="com.project.npnc.chatting.model.dto.ChattingFile" alias="chattingFile"/>	
		
		
	    <typeAlias type="com.project.npnc.board.model.dto.BoardCategoryDto" alias="BoardCategoryDto"/>
	    <typeAlias type="com.project.npnc.board.model.dto.BoardCommentDto" alias="BoardCommentDto"/>
	    <typeAlias type="com.project.npnc.board.model.dto.BoardDto" alias="BoardDto"/>
	    <typeAlias type="com.project.npnc.board.model.dto.BoardFileDto" alias="BoardFileDto"/>
   		<typeAlias type="com.project.npnc.notice.model.dto.NoticeDto" alias="NoticeDto"/>
   	

	
		<typeAlias type="com.project.npnc.attendance.model.dto.AttendanceEdit" alias="attendanceEdit"/>
   		<typeAlias type="com.project.npnc.security.dto.Member" alias="mypagemember"/>
		<typeAlias type="com.project.npnc.attendance.model.dto.Attendance" alias="attendance"/>
		<typeAlias type="com.project.npnc.note.dto.NoteSendDto" alias="noteSend"></typeAlias>
		<typeAlias type="com.project.npnc.chatting.model.dto.ChattingFile" alias="chattingFile"/>	
	    <typeAlias type="com.project.npnc.document.model.dto.Referer" alias="referer"/>   
	     <typeAlias type="com.project.npnc.document.model.dto.ApproverLine" alias="approverLine"/>
	     <typeAlias type="com.project.npnc.document.model.dto.ApproverLineStorage" alias="approverLineStorage"/>
		<typeAlias type="com.project.npnc.attendance.model.dto.AttendanceEdit" alias="attendanceEdit"/>
		<typeAlias type="com.project.npnc.note.dto.NoteFileDto" alias="noteFileDto"/>


	<!--	<typeAlias type="com.project.npnc.calendar.model.dto.Reservation" alias="reservation"/>
		<typeAlias type="com.project.npnc.calendar.model.dto.ReserveItem" alias="reserveItem"/>-->

		<typeAlias type="com.project.npnc.calendar.model.dto.Reservation" alias="reservation"/>
		<typeAlias type="com.project.npnc.calendar.model.dto.ReserveItem" alias="reserveItem"/>


		<typeAlias type="com.project.npnc.document.model.dto.Referer" alias="referer"/>   
		<typeAlias type="com.project.npnc.alarm.dto.AlarmMessage" alias="alarmMessage"/>   
		<typeAlias type="com.project.npnc.admin.document.model.dto.StorageFolder" alias="storageFolder"/>
		<typeAlias type="com.project.npnc.admin.document.model.dto.AdminDocument" alias="adminDocument"/>
		<typeAlias type="com.project.npnc.admin.document.model.dto.Storage" alias="storage"/>
        <typeAlias type="com.project.npnc.external.dto.ExternalDto" alias="ExternalDto"/>
        
        <typeAlias type="com.project.npnc.admin.vacation.model.dto.Vacation" alias="adminVacation"/>

        <typeAlias type="com.project.npnc.document.model.dto.VacationApply" alias="vacationApply"/>
       
         

        <typeAlias type="com.project.npnc.memberVacation.model.dto.MemberVacation" alias="memberVacation"/>
        <typeAlias type="com.project.npnc.document.model.dto.VacationApply" alias="vacationApply"/>   
        <typeAlias type="com.project.npnc.document.model.dto.OvertimeApply" alias="OvertimeApply"/>   
          <typeAlias type="com.project.npnc.calendar.model.dto.Vacation" alias="calendarVacation"/>

	</typeAliases>
</configuration> 