<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="document">
	<select id="selectformFolders" resultType="map">
		 select * from er_form_folder order by er_form_folder_orderby
	</select>
	<select id="selectFormByNo" resultType="map" parameterType="int">
		 select * from er_form
	</select>
	<select id="selectForms" resultType="map" parameterType="_int">
		 select * from er_form 
		 where ER_FORM_YN = 'Y' and er_form_folder_key = #{no} 
		 order by er_form_orderby
	</select>
	<select id="selectFormsBySearch" resultType="map" parameterType="string">
		 select * from er_form 
		 	LEFT JOIN ER_FORM_FOLDER USING (ER_FORM_FOLDER_key)
		 where ER_FORM_YN = 'Y' and er_form_name like #{target} 
		 order by er_form_orderby
	</select>
</mapper>
