<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypage">

    <select id="findById" resultMap="membermap" parameterType="string">
        SELECT * FROM member WHERE MEMBER_ID = #{memberId}
    </select>

    <update id="updateMember" parameterType="com.project.npnc.security.dto.Member">
        UPDATE member
        SET member_Name = #{memberName},
            member_Email = #{memberEmail},
            member_Phone = #{memberPhone},
            member_Address = #{memberAddress}
        WHERE member_Id = #{memberId}
    </update>

    <resultMap type="com.project.npnc.security.dto.Member" id="membermap">
        <id column="MEMBER_KEY" property="memberKey"/>
        <result column="MEMBER_ID" property="memberId"/>
        <result column="MEMBER_PW" property="memberPw"/>
        <result column="MEMBER_PHONE" property="memberPhone"/>
        <result column="MEMBER_EMAIL" property="memberEmail"/>
        <result column="MEMBER_MESSAGE" property="memberMessage"/>
        <result column="MEMBER_ENROLL_DATE" property="memberEnrollDate"/>
        <result column="MEMBER_LEAVE_DATE" property="memberLeaveDate"/>
        <result column="MEMBER_TELL" property="memberTell"/>
        <result column="MEMBER_ADDRESS" property="memberAddress"/>
        <result column="ACCESS_KEY" property="accessKey"/>
        <result column="MEMBER_NAME" property="memberName"/>
        <result column="MEMBER_GENDER" property="memberGender"/>
        <result column="MEMBER_STATE" property="memberState"/>
        <result column="MEMBER_BIRTHDATE" property="memberBirthdate"/>
        <result column="DEPARTMENT_KEY" property="departmentKey"/>
        <result column="JOB_KEY" property="jobKey"/>
        <result column="MEMBER_PROFILE_IMAGE" property="memberProfileImage"/>
    </resultMap>

    <update id="updatePassword">
        UPDATE member
        SET MEMBER_PW = #{newPassword}
        WHERE MEMBER_ID = #{memberId}
    </update>

    <update id="updateProfileImage" parameterType="map">
        UPDATE member
        SET MEMBER_PROFILE_IMAGE = #{profileImage}
        WHERE MEMBER_ID = #{memberId}
    </update>

    <select id="getProfileImageFileName" resultType="string" parameterType="string">
        SELECT MEMBER_PROFILE_IMAGE
        FROM member
        WHERE MEMBER_ID = #{memberId}
    </select>
    
        <!-- 주소 업데이트 -->
    <update id="updateAddress">
        UPDATE member
        SET member_address = #{fullAddress}
        WHERE member_id = #{memberId};
    </update>
    
    <select id="findByEmail" resultMap="membermap" parameterType="string">
    SELECT * FROM member WHERE MEMBER_EMAIL = #{email}
	</select>
    

</mapper>
