<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberVacation">
 	<resultMap type="memberVacation" id="memberVacationMap">
 		<id column="MEMBER_VAC_KEY" property="memberVacKey"/>
		<result column="MEMBER_KEY" property="memberKey"/>
		<result column="MEMBER_VAC_TOTAL" property="memberVacTotal"/>
		<result column="MEMBER_VAC_YEAR" property="memberVacYear"/>
		<result column="MEMBER_VAC_USED" property="memberVacUsed"/>
		<result column="MEMBER_VAC_REMAINING" property="memberVacRemaining"/>
		<result column="MEMBER_ENROLL_DATE" property="memberEnrollDate"/>
 	</resultMap>
 
 	<insert id="insertMemberVacation" parameterType="memberVacation">
 		INSERT INTO 
 		MEMBER_VACATION(
 			MEMBER_VAC_KEY,
 			MEMBER_KEY,
 			MEMBER_VAC_TOTAL,
 			MEMBER_VAC_YEAR,
 			MEMBER_VAC_USED,
 			MEMBER_VAC_REMAINING)
 		VALUES(
 			SEQ_MEMBER_VACATION.NEXTVAL,
 			#{memberKey},
 			#{memberVacTotal},
 			TO_CHAR(SYSDATE,'YYYY'),
 			0,
 			#{memberVacRemaining}
 		)
 	</insert>	
 
 	<select id="selectMemberVacationByMemberKey" resultMap="memberVacationMap" parameterType="_int">
 		SELECT 
 		MEMBER_VAC_KEY,
		MEMBER_KEY,
		MEMBER_VAC_TOTAL,
		MEMBER_VAC_YEAR,
		MEMBER_VAC_USED,
		MEMBER_VAC_REMAINING
		FROM MEMBER_VACATION
		WHERE MEMBER_KEY=#{memberKey}
 	</select>
 	
 	<select id="selectMemberVacationEnrollDate" resultMap="memberVacationMap">
 		SELECT 
 		MEMBER_VAC_KEY,
		MEMBER_KEY,
		MEMBER_VAC_TOTAL,
		MEMBER_VAC_YEAR,
		MEMBER_VAC_USED,
		MEMBER_VAC_REMAINING,
        MEMBER_ENROLL_DATE
        FROM MEMBER_VACATION JOIN MEMBER USING(MEMBER_KEY)
 	</select>
 	
 	<update id="updateMemberVacationYear" parameterType="memberVacation" >
 		UPDATE MEMBER_VACATION 
        SET
        MEMBER_VAC_TOTAL=#{memberVacTotal},
        MEMBER_VAC_USED=0,
        MEMBER_VAC_YEAR=YO_CHAR(SYSDATE,'YYYY'),
        MEMBER_VAC_REMAINING=#{memberVacRemaining}
        WHERE MEMBER_KEY=#{memberKey}
 	</update>
 	
</mapper>
