<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admindoc">
	<delete id="deleteStorage" parameterType="int">
		DELETE FROM ER_STORAGE
		WHERE ER_STORAGE_KEY = #{deleteKey}
	</delete>
	<select id="selectStorageOrder" resultType="int">
		SELECT COUNT(*)
		FROM ER_STORAGE
		WHERE ER_STORAGE_FOLDER_KEY = #{storageFolderKey}
	</select>
	<insert id="insertStorage" parameterType="storage">
		INSERT INTO ER_STORAGE (
				ER_STORAGE_KEY,
				ER_STORAGE_FOLDER_KEY,
				ER_STORAGE_NAME,
				ER_STORAGE_TERM,
				ER_STORAGE_MANAGER,
				ER_STORAGE_ORDERBY
				)VALUES(
					SEQ_ER_STORAGE_KEY.NEXTVAL,
					#{storageFolderKey},
					#{storageName},
					#{storageTerm},
					#{storageManager},
					#{storageOrderBy}
				)
	</insert>
	<select id="selectAdminDocumentFormAll" resultMap="StorageFolder">
		  SELECT * 
		  FROM ER_STORAGE_FOLDER 
		  ORDER BY ER_FOLDER_GROUP DESC, 
		  			ER_FOLDER_LEVEL ASC,
		  			er_folder_orderby asc
	</select>
	<select id="selectDocAll" resultMap="adminDocument" parameterType="int">
			SELECT 
				es.ER_STORAGE_KEY,
				es.ER_STORAGE_FOLDER_KEY,
				es.ER_STORAGE_NAME,
				es.ER_STORAGE_TERM,
				es.ER_STORAGE_MANAGER,
				es.ER_STORAGE_ORDERBY,
				esf.ER_FOLDER_KEY,
				esf.ER_FOLDER_NAME,
				esf.ER_FOLDER_GROUP,
				esf.ER_FOLDER_LEVEL,
				esf.ER_FOLDER_USE_YN,
				m.MEMBER_KEY,
				m.DEPARTMENT_KEY,
				m.JOB_KEY,
				m.MEMBER_ID,
				m.MEMBER_PW,
				m.MEMBER_PHONE,
				m.MEMBER_EMAIL,
				m.MEMBER_MESSAGE,
				m.MEMBER_ENROLL_DATE,
				m.MEMBER_LEAVE_DATE,
				m.MEMBER_TELL,
				m.MEMBER_ADDRESS,
				m.ACCESS_KEY,
				m.MEMBER_NAME,
				m.MEMBER_GENDER,
				m.MEMBER_STATE,
				m.MEMBER_BIRTHDATE,
				m.MEMBER_PROFILE_IMAGE,
				j.JOB_NAME,
				d.DEPARTMENT_NAME
				FROM ER_STORAGE es
			LEFT JOIN MEMBER m ON es.ER_STORAGE_MANAGER = m.MEMBER_KEY
			LEFT JOIN ER_STORAGE_FOLDER esf ON esf.er_folder_key = es.ER_STORAGE_FOLDER_KEY
			LEFT JOIN DEPARTMENT d ON m.DEPARTMENT_KEY = d.DEPARTMENT_KEY 
			LEFT JOIN job j ON j.JOB_KEY = m.JOB_KEY  
			WHERE es.ER_STORAGE_FOLDER_KEY=#{folderKey}

	</select>
	
	
	<select id="selectStorageFolder" resultMap="StorageFolder" parameterType="int">
		SELECT
			ER_FOLDER_KEY,
			ER_FOLDER_NAME,
			ER_FOLDER_GROUP,
			ER_FOLDER_LEVEL,
			ER_FOLDER_USE_YN,
			ER_FOLDER_ORDERBY
		FROM ER_STORAGE_FOLDER
		WHERE ER_FOLDER_KEY = #{folderKey}
	</select>
	<select id="selectStorage" resultMap="storage" parameterType="int">
		SELECT 
			ER_STORAGE_KEY,
			ER_STORAGE_FOLDER_KEY,
			ER_STORAGE_NAME,
			ER_STORAGE_TERM,
			ER_STORAGE_MANAGER,
			ER_STORAGE_ORDERBY
		FROM
			ER_STORAGE
		WHERE 
			ER_STORAGE_KEY = #{storageKey}
	</select>
	
	<update id="updateStorageGroup" parameterType="map">
		UPDATE ER_STORAGE_FOLDER 
		SET ER_FOLDER_GROUP = #{targetFolder.folderGroup},
			ER_FOLDER_ORDERBY= #{draggedFolder.folderOrderBy}
		
		WHERE ER_FOLDER_KEY = #{draggedFolder.folderKey}
	</update>
	
<update id="increaseFolderOrder" parameterType="map">
    <choose>
        <when test="draggedFolder.folderOrderBy &lt; targetFolder.folderOrderBy">
            UPDATE ER_STORAGE_FOLDER
            SET ER_FOLDER_ORDERBY = ER_FOLDER_ORDERBY-1
            WHERE ER_FOLDER_GROUP = ${targetFolder.folderGroup} 
                AND ER_FOLDER_LEVEL = 2
                AND ER_FOLDER_KEY != ${draggedFolder.folderKey}
<!--                 AND ER_FOLDER_ORDERBY >= ${draggedFolder.folderOrderBy}
 -->                 AND ER_FOLDER_ORDERBY &lt;= ${targetFolder.folderOrderBy}
        </when>
        <when test="draggedFolder.folderOrderBy &gt; targetFolder.folderOrderBy">
            UPDATE ER_STORAGE_FOLDER
            SET ER_FOLDER_ORDERBY = ER_FOLDER_ORDERBY+1
            WHERE ER_FOLDER_GROUP = ${targetFolder.folderGroup} 
                AND ER_FOLDER_LEVEL = 2
                AND ER_FOLDER_KEY != ${draggedFolder.folderKey}
<!--                 AND ER_FOLDER_ORDERBY &lt;= ${draggedFolder.folderOrderBy}
 -->                 AND ER_FOLDER_ORDERBY >= ${targetFolder.folderOrderBy} 
        </when>
    </choose>
</update>

	
	<delete id="removeFolder" parameterType="int">
		DELETE FROM ER_STORAGE_FOLDER
		WHERE ER_FOLDER_KEY = #{draggedFolderKey} 
	</delete>
	
	<select id="createFolderGroup" resultType="int">
		SELECT COUNT(*)
		FROM ER_STORAGE_FOLDER
		WHERE ER_FOLDER_LEVEL=1
	</select>
	<insert id="insertFolder" parameterType="StorageFolder">
		INSERT INTO ER_STORAGE_FOLDER(
			ER_FOLDER_KEY,
			ER_FOLDER_NAME,
			ER_FOLDER_GROUP,
			ER_FOLDER_LEVEL,
			ER_FOLDER_USE_YN,
			ER_FOLDER_ORDERBY
		)VALUES(
			SEQ_ER_STORAGE_FOLDER_KEY.NEXTVAL,
			#{folderName},
			#{folderGroup},
			#{folderLevel},
			#{useYn},
			#{folderOrderBy}
		)
	</insert>
	
	<select id="selectFolderKey" resultType="int">
		SELECT SEQ_ER_STORAGE_FOLDER_KEY.NEXTVAL
		FROM DUAL
	</select>
	
	<select id="selectFolderOrderBy" resultType="int" parameterType="int">
		SELECT COUNT(*) 
		FROM ER_STORAGE_FOLDER
		WHERE ER_FOLDER_GROUP = #{folderGroup}
	</select>
	
	<select id="selectAllMembers" resultType="member">
		SELECT * FROM MEMBER
	</select>
	
	<update id="updateStorage" parameterType="storage">
		UPDATE ER_STORAGE 
		SET ER_STORAGE_NAME = #{storageName},
			ER_STORAGE_TERM = #{storageTerm},
			ER_STORAGE_MANAGER = #{storageManager}
		WHERE ER_STORAGE_KEY = #{storageKey}
		
		
	</update>
	
	<update id="updateFolderGroup" parameterType="storageFolder">
		UPDATE ER_STORAGE_FOLDER
		SET ER_FOLDER_ORDERBY=ER_FOLDER_ORDERBY-1
		WHERE ER_FOLDER_ORDERBY > 
		(SELECT ER_FOLDER_ORDERBY
			FROM ER_STORAGE_FOLDER
			WHERE ER_FOLDER_KEY = #{folderKey} 
		)
		AND ER_FOLDER_GROUP = #{folderGroup}
	</update>
	<delete id="draggedFolderKey" parameterType="int">
		DELETE FROM ER_STORAGE_FOLDER
		WHERE ER_FOLDER_GROUP = #{folderGroup}
	</delete>
	<update id="updateFolderLv1Order" parameterType="int">
		UPDATE ER_STORAGE_FOLDER
		SET ER_FOLDER_GROUP = ER_FOLDER_GROUP-1
		WHERE ER_FOLDER_GROUP > #{folderGorup}
	</update>
	<select id="selectParentFolderName" parameterType="int" resultType="string">
		SELECT ER_FOLDER_NAME
		FROM ER_STORAGE_FOLDER
		WHERE ER_FOLDER_GROUP = #{folderGroup}
		AND ER_FOLDER_LEVEL = 1
	</select>
	<select id="selectParentFolderGroup" parameterType="int" resultType="int">
		SELECT ER_FOLDER_GROUP
		FROM ER_STORAGE_FOLDER
		WHERE ER_FOLDER_KEY = #{folderKey}
	</select>
	<update id="updateStorageFolder" parameterType="StorageFolder">
		UPDATE ER_STORAGE_FOLDER
		SET ER_FOLDER_NAME = #{folderName},
			ER_FOLDER_USE_YN = #{useYn}
		WHERE ER_FOLDER_KEY = #{folderKey}
	</update>
    <resultMap id="StorageFolder" type="storageFolder">
        <id property="folderKey" column="ER_FOLDER_KEY" />
        <result property="folderName" column="ER_FOLDER_NAME" />
        <result property="folderGroup" column="ER_FOLDER_GROUP" />
        <result property="folderLevel" column="ER_FOLDER_LEVEL" />
        <result property="useYn" column="ER_FOLDER_USE_YN" />   
        <result property="folderOrderBy" column="ER_FOLDER_ORDERBY" />   
	</resultMap>
    
    <resultMap id="adminDocument" type="adminDocument">
	    <id property="erStorageKey" column="ER_STORAGE_KEY"/>
	    <result property="erStorageFolderKey" column="ER_STORAGE_FOLDER_KEY"/>
	    <result property="erStorageName" column="ER_STORAGE_NAME"/>
	    <result property="erStorageTerm" column="ER_STORAGE_TERM"/>
	    <result property="erStorageManager" column="ER_STORAGE_MANAGER"/>
	    <result property="erStorageOrderby" column="ER_STORAGE_ORDERBY"/>
	    
		<association property="member" javaType="com.project.npnc.security.dto.Member">
            <id property="memberKey" column="MEMBER_KEY" />
            <result property="departmentKey" column="DEPARTMENT_KEY" />
            <result property="jobKey" column="JOB_KEY" />
            <result property="memberId" column="MEMBER_ID" />
            <result property="memberPw" column="MEMBER_PW" />
            <result property="memberPhone" column="MEMBER_PHONE" />
            <result property="memberEmail" column="MEMBER_EMAIL" />
            <result property="memberMessage" column="MEMBER_MESSAGE" />
            <result property="memberEnrollDate" column="MEMBER_ENROLL_DATE" />
            <result property="memberLeaveDate" column="MEMBER_LEAVE_DATE" />
            <result property="memberTell" column="MEMBER_TELL" />
            <result property="memberAddress" column="MEMBER_ADDRESS" />
            <result property="accessKey" column="ACCESS_KEY" />
            <result property="memberName" column="MEMBER_NAME" />
            <result property="memberGender" column="MEMBER_GENDER" />
            <result property="memberState" column="MEMBER_STATE" />
            <result property="memberBirthdate" column="MEMBER_BIRTHDATE" />
        </association> 
        
        <association property="storageFolder" javaType="com.project.npnc.admin.document.model.dto.StorageFolder">
        	<id property="folderKey" column="ER_FOLDER_KEY" />
	        <result property="folderName" column="ER_FOLDER_NAME" />
	        <result property="parentFolderKey" column="ER_FOLDER_REF" />
	        <result property="folderLevel" column="ER_FOLDER_LEVEL" />
	        <result property="useYn" column="ER_FOLDER_USE_YN" />  
        </association>
        
        <association property="job" javaType="com.project.npnc.admin.job.model.dto.Job">
        	<id property="jobKey" column="JOB_KEY"/>
        	<result property="jobName" column="JOB_NAME"/>
        </association>
        
        <association property="department" javaType="com.project.npnc.admin.department.model.dto.Department">
        	<id property="deptKey" column="DEPARTMENT_KEY"/>
        	<result property="deptName" column="DEPARTMENT_NAME"/>
        </association>
	</resultMap>
	
    <resultMap id="member" type="member">
        <id property="memberKey" column="MEMBER_KEY" />
        <result property="departmentKey" column="DEPARTMENT_KEY" />
        <result property="jobKey" column="JOB_KEY" />
        <result property="memberId" column="MEMBER_ID" />
        <result property="memberPw" column="MEMBER_PW" />
        <result property="memberPhone" column="MEMBER_PHONE" />
        <result property="memberEmail" column="MEMBER_EMAIL" />
        <result property="memberMessage" column="MEMBER_MESSAGE" />
        <result property="memberEnrollDate" column="MEMBER_ENROLL_DATE" />
        <result property="memberLeaveDate" column="MEMBER_LEAVE_DATE" />
        <result property="memberTell" column="MEMBER_TELL" />
        <result property="memberAddress" column="MEMBER_ADDRESS" />
        <result property="accessKey" column="ACCESS_KEY" />
        <result property="memberName" column="MEMBER_NAME" />
        <result property="memberGender" column="MEMBER_GENDER" />
        <result property="memberState" column="MEMBER_STATE" />
        <result property="memberBirthdate" column="MEMBER_BIRTHDATE" />
    </resultMap>
	
	<resultMap type="storage" id="storage">
		<result property="storageKey" column="ER_STORAGE_KEY"/>
		<result property="storageFolderKey" column="ER_STORAGE_FOLDER_KEY"/>
		<result property="storageName" column="ER_STORAGE_NAME"/>
		<result property="storageTerm" column="ER_STORAGE_TERM"/>
		<result property="storageManager" column="ER_STORAGE_MANAGER"/>
		<result property="storageOrderBy" column="ER_STORAGE_ORDERBY"/>
	</resultMap>
</mapper>
