<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calendar">

	<resultMap id="calMap" type="calendar" autoMapping="true">
		<id property="calendarKey" column="CALENDAR_KEY"/>
		<result property="_id" column="MEMBER_KEY"/>
		<result property="deptCode" column="DEPARTMENT_KEY"/>
		<result property="type" column="CALENDAR_TYPE"/>
		<result property="title" column="CALENDAR_TITLE"/>
		<result property="start" column="CALENDAR_START"/>
		<result property="end" column="CALENDAR_END"/>
		<result property="description" column="CALENDAR_CONTENT"/>
		<result property="backgroundColor" column="CALENDAR_BACKGROUND_COLOR"/>
		<result property="allDay" column="CALENDAR_ALLDAY"/>
		<result property="update" column="CALENDAR_UPDATE"/>
		<result property="enroll" column="CALENDAR_ENROLL"/>
		<result property="delete" column="CALENDAR_DELETE"/>
 		<collection property="selectedMembers" ofType="com.project.npnc.calendar.model.dto.ReferenceEmp">
			<id property="refEmpKey" column="CAL_REFERENCE_KEY"/>
			<result property="refEmpNo" column="CAL_REFERENCE_NO"/>
			<result property="refEmpName" column="CAL_REFERENCE_NAME"/>
			<result property="refJobName" column="CAL_REFERENCE_JOB"/>
		</collection> 
	</resultMap>
	
	<resultMap id="vacMap" type="calendarVacation">
		<id property="vacationKey" column="vacation_use_key"/>
		<result property="memberKey" column="vacation_member_key"/>
		<result property="deptName" column="department_name"/>
		<result property="title" column="vacation_name"/>
		<result property="start" column="vacation_start_date"/>
		<result property="end" column="vacation_end_date"/>
		<result property="empName" column="member_name"/>
	</resultMap>
	
	

	<insert id="insertCalendar" parameterType="calendar">
		INSERT INTO CALENDAR VALUES(SEQ_CALENDAR.NEXTVAL,#{empNo},#{type},#{title},TO_TIMESTAMP(#{start},'YYYY-MM-DD HH24:MI'),TO_TIMESTAMP(#{end},'YYYY-MM-DD HH24:MI'),#{description},#{backgroundColor},#{allDay},DEFAULT,DEFAULT,DEFAULT)
	</insert>
	
	<select id="selectAllByKey" parameterType="_int" resultMap="calMap">
 		SELECT
			cal.CALENDAR_KEY,
			cal.MEMBER_KEY,
			cal.CALENDAR_TYPE,
			cal.CALENDAR_TITLE,
			cal.CALENDAR_START,
			cal.CALENDAR_END,
			cal.CALENDAR_CONTENT,
			cal.CALENDAR_BACKGROUND_COLOR,
			cal.CALENDAR_ALLDAY,
			cal.CALENDAR_DELETE,
			ref.CAL_REFERENCE_NO,
			m.MEMBER_NAME as CAL_REFERENCE_NAME,
			j.JOB_NAME AS CAL_REFERENCE_JOB
		FROM
			CALENDAR cal
		LEFT JOIN
			CAL_REFERENCE ref on cal.CALENDAR_KEY = ref.CALENDAR_KEY
		LEFT JOIN
			MEMBER m on ref.CAL_REFERENCE_NO = m.MEMBER_KEY
		LEFT JOIN
			JOB j on m.JOB_KEY = j.JOB_KEY
		WHERE
			cal.MEMBER_KEY = ${memberKey} AND cal.CALENDAR_DELETE ='N'  
			 <!--  select * from calendar where member_key = ${memberKey} AND calendar_delete ='N' -->
	</select>
	
	<select id="checkVacation" resultMap = "vacMap" parameterType="map">
		SELECT
			vac.VACATION_USE_KEY,
			vac.VACATION_MEMBER_KEY,
			dept.DEPARTMENT_NAME,
			v.VACATION_NAME,
			vac.VACATION_START_DATE,
			vac.VACATION_END_DATE,
			mem.MEMBER_NAME
		FROM
			VACATION_APPLY vac
		LEFT JOIN
		 	VACATION v on v.VACATION_KEY = vac.VACATION_KEY
		LEFT JOIN
			MEMBER mem on mem.MEMBER_KEY = vac.VACATION_MEMBER_KEY
		LEFT JOIN
			DEPARTMENT dept on mem.DEPARTMENT_KEY = dept.DEPARTMENT_KEY
		where
			1=2
		<if test="searchA !=null or searchB != null">
			union
		</if>
		<if test="searchA != null">
			SELECT
				vac.VACATION_USE_KEY,
				vac.VACATION_MEMBER_KEY,
				dept.DEPARTMENT_NAME,
				v.VACATION_NAME,
				vac.VACATION_START_DATE,
				vac.VACATION_END_DATE,
				mem.MEMBER_NAME
			FROM
				VACATION_APPLY vac
			LEFT JOIN
			 	VACATION v on v.VACATION_KEY = vac.VACATION_KEY
			LEFT JOIN
				MEMBER mem on mem.MEMBER_KEY = vac.VACATION_MEMBER_KEY
			LEFT JOIN
				DEPARTMENT dept on mem.DEPARTMENT_KEY = dept.DEPARTMENT_KEY
			WHERE
				vac.VACATION_MEMBER_KEY = #{empNo}
				AND
				vac.VACATION_APPLY_STATUS = '승인'
		</if>
		<if test="searchB != null">
			<if test="searchA != null">
				union
			</if>
			SELECT
				vac.VACATION_USE_KEY,
				vac.VACATION_MEMBER_KEY,
				dept.DEPARTMENT_NAME,
				v.VACATION_NAME,
				vac.VACATION_START_DATE,
				vac.VACATION_END_DATE,
				mem.MEMBER_NAME
			FROM
				VACATION_APPLY vac
			LEFT JOIN
			 	VACATION v on v.VACATION_KEY = vac.VACATION_KEY
			LEFT JOIN
				MEMBER mem on mem.MEMBER_KEY = vac.VACATION_MEMBER_KEY
			LEFT JOIN
				DEPARTMENT dept on mem.DEPARTMENT_KEY = dept.DEPARTMENT_KEY
			WHERE
				dept.DEPARTMENT_KEY = (
			        SELECT
			            mem.DEPARTMENT_KEY
			        FROM
			            MEMBER mem
			        WHERE
			            mem.MEMBER_KEY = #{empNo}
			    )
			    AND
			    vac.VACATION_APPLY_STATUS = '승인'
		</if>
	
	</select>
	
	<select id="checkcalendar" resultMap = "calMap" parameterType="map">
		SELECT
			cal.CALENDAR_KEY,
			cal.MEMBER_KEY,
			cal.CALENDAR_TYPE,
			cal.CALENDAR_TITLE,
			cal.CALENDAR_START,
			cal.CALENDAR_END,
			cal.CALENDAR_CONTENT,
			cal.CALENDAR_BACKGROUND_COLOR,
			cal.CALENDAR_ALLDAY,
			cal.CALENDAR_DELETE,
			ref.CAL_REFERENCE_NO,
			m.MEMBER_NAME as CAL_REFERENCE_NAME,
			m.DEPARTMENT_KEY,
			j.JOB_NAME AS CAL_REFERENCE_JOB
		FROM
			CALENDAR cal
		LEFT JOIN
			CAL_REFERENCE ref on cal.CALENDAR_KEY = ref.CALENDAR_KEY
		LEFT JOIN
			MEMBER m on ref.CAL_REFERENCE_NO = m.MEMBER_KEY
		LEFT JOIN
			JOB j on m.JOB_KEY = j.JOB_KEY
		WHERE
			1 = 2
		<if test="searchA != null or searchB != null or searchC != null or searchD != null">
			union
		</if>
		<if test="searchA != null">
			SELECT
				cal.CALENDAR_KEY,
				cal.MEMBER_KEY,
				cal.CALENDAR_TYPE,
				cal.CALENDAR_TITLE,
				cal.CALENDAR_START,
				cal.CALENDAR_END,
				cal.CALENDAR_CONTENT,
				cal.CALENDAR_BACKGROUND_COLOR,
				cal.CALENDAR_ALLDAY,
				cal.CALENDAR_DELETE,
				ref.CAL_REFERENCE_NO,
				m.MEMBER_NAME as CAL_REFERENCE_NAME,
				calm.DEPARTMENT_KEY,
				j.JOB_NAME AS CAL_REFERENCE_JOB
			FROM
				CALENDAR cal
			LEFT JOIN
				CAL_REFERENCE ref on cal.CALENDAR_KEY = ref.CALENDAR_KEY
			LEFT JOIN
				MEMBER m on ref.CAL_REFERENCE_NO = m.MEMBER_KEY
			LEFT JOIN
				MEMBER calm on cal.MEMBER_KEY = calm.MEMBER_KEY
			LEFT JOIN
				JOB j on m.JOB_KEY = j.JOB_KEY
			WHERE
				cal.CALENDAR_TYPE = '1' AND cal.CALENDAR_DELETE ='N' AND (cal.MEMBER_KEY = #{empNo} OR ref.CAL_REFERENCE_NO =#{empNo})
		</if>
		<if test="searchB !=null">
			<if test="searchA !=null">
				union
			</if>
			SELECT
				cal.CALENDAR_KEY,
				cal.MEMBER_KEY,
				cal.CALENDAR_TYPE,
				cal.CALENDAR_TITLE,
				cal.CALENDAR_START,
				cal.CALENDAR_END,
				cal.CALENDAR_CONTENT,
				cal.CALENDAR_BACKGROUND_COLOR,
				cal.CALENDAR_ALLDAY,
				cal.CALENDAR_DELETE,
				ref.CAL_REFERENCE_NO,
				m.MEMBER_NAME as CAL_REFERENCE_NAME,
				calm.DEPARTMENT_KEY,
				j.JOB_NAME AS CAL_REFERENCE_JOB
			FROM
				CALENDAR cal
			LEFT JOIN
				CAL_REFERENCE ref on cal.CALENDAR_KEY = ref.CALENDAR_KEY
			LEFT JOIN
				MEMBER m on ref.CAL_REFERENCE_NO = m.MEMBER_KEY
			LEFT JOIN
				MEMBER calm on cal.MEMBER_KEY = calm.MEMBER_KEY
			LEFT JOIN
				JOB j on m.JOB_KEY = j.JOB_KEY
			WHERE
				cal.CALENDAR_TYPE = '2' AND calm.DEPARTMENT_KEY = #{deptCode} AND cal.CALENDAR_DELETE ='N'
		</if>
		<if test="searchC !=null">
			<if test="searchA !=null || searchB !=null">
				union
			</if>
			SELECT
				cal.CALENDAR_KEY,
				cal.MEMBER_KEY,
				cal.CALENDAR_TYPE,
				cal.CALENDAR_TITLE,
				cal.CALENDAR_START,
				cal.CALENDAR_END,
				cal.CALENDAR_CONTENT,
				cal.CALENDAR_BACKGROUND_COLOR,
				cal.CALENDAR_ALLDAY,
				cal.CALENDAR_DELETE,
				ref.CAL_REFERENCE_NO,
				m.MEMBER_NAME as CAL_REFERENCE_NAME,
				calm.DEPARTMENT_KEY,
				j.JOB_NAME AS CAL_REFERENCE_JOB
			FROM
				CALENDAR cal
			LEFT JOIN
				CAL_REFERENCE ref on cal.CALENDAR_KEY = ref.CALENDAR_KEY
			LEFT JOIN
				MEMBER m on ref.CAL_REFERENCE_NO = m.MEMBER_KEY
			LEFT JOIN
				MEMBER calm on cal.MEMBER_KEY = calm.MEMBER_KEY
			LEFT JOIN
				JOB j on m.JOB_KEY = j.JOB_KEY
			WHERE
				cal.CALENDAR_TYPE = '3' AND cal.CALENDAR_DELETE ='N'
		</if>
		<if test="searchD !=null">
			<if test="searchA !=null || searchB !=null || searchC != null">
				union
			</if>
			SELECT
				cal.CALENDAR_KEY,
				cal.MEMBER_KEY,
				cal.CALENDAR_TYPE,
				cal.CALENDAR_TITLE,
				cal.CALENDAR_START,
				cal.CALENDAR_END,
				cal.CALENDAR_CONTENT,
				cal.CALENDAR_BACKGROUND_COLOR,
				cal.CALENDAR_ALLDAY,
				cal.CALENDAR_DELETE,
				ref.CAL_REFERENCE_NO,
				m.MEMBER_NAME as CAL_REFERENCE_NAME,
				calm.DEPARTMENT_KEY,
				j.JOB_NAME AS CAL_REFERENCE_JOB
			FROM
				CALENDAR cal
			LEFT JOIN
				CAL_REFERENCE ref on cal.CALENDAR_KEY = ref.CALENDAR_KEY
			LEFT JOIN
				MEMBER m on ref.CAL_REFERENCE_NO = m.MEMBER_KEY
			LEFT JOIN
				MEMBER calm on cal.MEMBER_KEY = calm.MEMBER_KEY
			LEFT JOIN
				JOB j on m.JOB_KEY = j.JOB_KEY
			WHERE
				cal.CALENDAR_TYPE = '4' AND CALENDAR_DELETE = 'N' AND cal.MEMBER_KEY = ${empNo}
		</if>

		
		
	</select>
	<insert id="insertReCalendar" parameterType="reserveItem">
		INSERT INTO CALENDAR VALUES(
			SEQ_CALENDAR.NEXTVAL,
			#{memberKey},
			'4',
			'예약',
			#{date}||' '||#{start},
			#{date}||' '||#{end},
			#{itemName},
			'#000000',
			'N',
			DEFAULT,
			DEFAULT,
			DEFAULT
		)
		
		
	
	</insert>
	<delete id="deleteCalendarRef" parameterType="_int">
		DELETE
		FROM
			CAL_REFERENCE
		WHERE
			CALENDAR_KEY = ${calenarKey}	
	
	</delete>
	
	<select id="selectLastInsertKey" resultType="_int">
		SELECT SEQ_CALENDAR.CURRVAL FROM DUAL
	</select>
	
	
	<update id="updateByKey" parameterType="calendar">
		UPDATE
			CALENDAR
		SET
			CALENDAR_TITLE = #{title},
			CALENDAR_START=TO_TIMESTAMP(#{start}, 'YYYY-MM-DD HH24:MI'),
			CALENDAR_END=TO_TIMESTAMP(#{end},'YYYY-MM-DD HH24:MI'),
			CALENDAR_CONTENT=#{description},
			CALENDAR_ALLDAY=#{allDay},
			CALENDAR_UPDATE = SYSDATE
		WHERE
			CALENDAR_KEY=#{calendarKey}
	</update>
	
	<update id="deleteByKey" parameterType="_int">
		UPDATE CALENDAR SET CALENDAR_DELETE = 'Y' WHERE CALENDAR_KEY=#{calKey}
	</update>
	
	<insert id ="insertCalendarReference" parameterType= "map">
		INSERT INTO CAL_REFERENCE VALUES(SEQ_CAL_REFERENCE.NEXTVAL,${empKey},${calendarKey},DEFAULT)
	</insert>
	
	<update id="updateReCalendar" parameterType="reserveItem">
		UPDATE 
			CALENDAR
		SET
			CALENDAR_START = TO_TIMESTAMP(#{date}||' '||#{start}, 'YYYY-MM-DD HH24:MI'),
			CALENDAR_END = TO_TIMESTAMP(#{date}||' '||#{end}, 'YYYY-MM-DD HH24:MI'),
			CALENDAR_UPDATE = SYSDATE
		WHERE
			CALENDAR_KEY = #{calendarKey}
		
	</update>

	
	




</mapper>