<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="job">
	<resultMap type="job" id="jobMap">
		<id column="JOB_KEY" property="jobKey"/>
		<result column="JOB_NAME" property="jobName"/>
	</resultMap>
  <select id="selectJobAll" resultMap="jobMap">
  		SELECT 
  			JOB_KEY,
  			JOB_NAME
  			FROM JOB
  </select>
    <select id="selectJobByKey" parameterType="string" resultMap="jobMap">
  		SELECT 
  			JOB_KEY,
  			JOB_NAME 
  			FROM JOB
  			WHERE JOB_KEY=#{jobKey}
  	</select>
  <insert id="insertJob" parameterType="job">
  		INSERT INTO JOB 
  			VALUES('J'||SEQ_JOB.NEXTVAL,#{jobName})
  </insert>
  <update id="updateJob" parameterType="job">
  		UPDATE JOB 
  			SET JOB_NAME=#{jobName} 
  			WHERE JOB_KEY=#{jobKey}
  </update>
  <delete id="deleteJob" parameterType="string">
  		DELETE 
  			FROM JOB 
  			WHERE JOB_KEY=#{jobKey}
  </delete>
</mapper>
