<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.npnc.board.model.dao.BoardDao">

    <!-- Board Dto CRUD -->
    <select id="selectAllBoards" resultType="com.project.npnc.board.model.dto.BoardDto">
        SELECT * FROM BOARD
        ORDER BY BOARD_KEY DESC
    </select>

    <select id="selectBoardById" parameterType="int" resultType="com.project.npnc.board.model.dto.BoardDto">
        SELECT * FROM BOARD WHERE BOARD_KEY = #{BOARD_KEY}
    </select>
    
    <select id="selectFilesByBoardId" parameterType="int" resultType="com.project.npnc.board.model.dto.BoardFileDto">
        SELECT * FROM BOARD_FILE WHERE BOARD_KEY = #{boardKey}
    </select>

    <!-- 공지사항만 조회 -->
    <select id="selectNotices" resultType="com.project.npnc.board.model.dto.BoardDto">
        SELECT * FROM BOARD
        WHERE BOARD_CATEGORY_KEY = 2
    </select>

    <!-- 일반 게시판만 조회 -->
    <select id="selectGeneralBoards" resultType="com.project.npnc.board.model.dto.BoardDto">
        SELECT * FROM BOARD
        WHERE BOARD_CATEGORY_KEY = 1
    </select>

    <update id="updateBoard" parameterType="com.project.npnc.board.model.dto.BoardDto">
        UPDATE BOARD SET
            BOARD_CATEGORY_KEY = #{BOARD_CATEGORY_KEY},
            MEMBER_KEY = #{MEMBER_KEY},
            BOARD_DETAIL = #{BOARD_DETAIL},
            BOARD_ENROLL_DATE = #{BOARD_ENROLL_DATE},
            BOARD_UPDATE_DATE = #{BOARD_UPDATE_DATE},
            BOARD_DELETE = #{BOARD_DELETE},
            BOARD_TITLE = #{BOARD_TITLE}
        WHERE BOARD_KEY = #{BOARD_KEY}
    </update>

    <delete id="deleteBoard" parameterType="int">
        DELETE FROM BOARD WHERE BOARD_KEY = #{BOARD_KEY}
    </delete>
    
	<insert id="insertBoard" parameterType="com.project.npnc.board.model.dto.BoardDto">
  	  <selectKey keyProperty="BOARD_KEY" order="AFTER" resultType="int">
         SELECT board_seq.CURRVAL FROM DUAL
      </selectKey>
	    INSERT INTO BOARD (
	        BOARD_CATEGORY_KEY, MEMBER_KEY, BOARD_DETAIL, BOARD_ENROLL_DATE, BOARD_UPDATE_DATE, BOARD_DELETE, BOARD_TITLE
	    ) VALUES (
	        #{BOARD_CATEGORY_KEY}, #{MEMBER_KEY}, #{BOARD_DETAIL}, SYSDATE, SYSDATE, 'N', #{BOARD_TITLE}
	    )
	</insert>


	<insert id="insertBoardFile" parameterType="com.project.npnc.board.model.dto.BoardFileDto">
	    INSERT INTO BOARD_FILE (
	        BOARD_FILE_KEY, BOARD_KEY, BOARD_FILE_ORI, BOARD_FILE_POST
	    ) VALUES (
	        SEQ_BOARD_FILE.NEXTVAL, #{BOARD_KEY}, #{BOARD_FILE_ORI}, #{BOARD_FILE_POST}
	    )
	</insert>


    
    <!-- Board Comment Dto CRUD -->
    <select id="selectCommentsByBoardId" parameterType="int" resultType="com.project.npnc.board.model.dto.BoardCommentDto">
        SELECT * FROM BOARD_COMMENT WHERE BOARD_KEY = #{BOARD_KEY}
    </select>

    <insert id="insertComment" parameterType="com.project.npnc.board.model.dto.BoardCommentDto">
        INSERT INTO BOARD_COMMENT (
            BOARD_COMMENT_KEY, BOARD_KEY, MEMBER_KEY, BOARD_COMMENT_LEVEL, BOARD_COMMENT_DETAIL, BOARD_COMMENT_DATE, BOARD_COMMENT_REF, BOARD_COMMENT_DELETE
        ) VALUES (
            #{BOARD_COMMENT_KEY}, #{BOARD_KEY}, #{MEMBER_KEY}, #{BOARD_COMMENT_LEVEL}, #{BOARD_COMMENT_DETAIL}, SYSDATE, #{BOARD_COMMENT_REF}, 'N'
        )
    </insert>

    <update id="updateComment" parameterType="com.project.npnc.board.model.dto.BoardCommentDto">
        UPDATE BOARD_COMMENT SET
            BOARD_COMMENT_LEVEL = #{BOARD_COMMENT_LEVEL},
            BOARD_COMMENT_DETAIL = #{BOARD_COMMENT_DETAIL},
            BOARD_COMMENT_DATE = #{BOARD_COMMENT_DATE},
            BOARD_COMMENT_REF = #{BOARD_COMMENT_REF},
            BOARD_COMMENT_DELETE = #{BOARD_COMMENT_DELETE}
        WHERE BOARD_COMMENT_KEY = #{BOARD_COMMENT_KEY}
    </update>

    <delete id="deleteComment" parameterType="int">
        DELETE FROM BOARD_COMMENT WHERE BOARD_COMMENT_KEY = #{BOARD_COMMENT_KEY}
    </delete>

    <!-- Board Category Dto -->
    <select id="selectAllCategories" resultType="com.project.npnc.board.model.dto.BoardCategoryDto">
        SELECT * FROM BOARD_CATEGORY
    </select>
</mapper>
